html
  head
    title= title
    link(rel='stylesheet', href='../../../../stylesheets/style.css')
    link(rel='stylesheet', href='../../../../stylesheets/404-card.css')
  body
    block content
        div(class="card-container not-found-card")
          div(class="container")
            h1 404 Not Found
            span(class="face")
              h2 :(
