/* --- General Styles - For All User Cards --- */
.user-card .name {
	font-size: 1.4em;
}

.user-card .company {
	font-size: 0.8em;
	padding-left: 10px;
	padding-right: 10px;
	color: #838383;
}

.user-card .username {
	font-size: 0.9em;
	text-decoration: underline;
	color: #838383;
}

.user-card.dark .info-child {
	border-color: #444444;
}

.user-card .info-child .subtitle {
	margin-top: 2px;
	font-size: 0.8em;
	color: #838383;
}

.user-card .info-child.large {
	flex: 2 20px;
}

.user-card .info-child:last-child {
	border: none;
	flex: 2 20px;
}

.user-card .info-child span {
	display: block;
}

.user-card .info-child {
	display: block;
	flex: 3 20px;
	padding: 6px 3px 4px 3px;
	border-right: 1px solid #dcdcdc;
	font-size: 0.9em;
}

.user-card .info-container {
	display: flex;
	flex-direction: row;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}

.user-card .bio {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.9em;
}

.user-card .avatar {
	border-radius: 50%;
}

.user-card .info-child {
	padding: 6px 3px 4px 3px;
}

/* --- Vertical Card --- */
.user-card-vertical {
	width: 220px;
	text-align: center;
}

.user-card-vertical.large {
	width: 440px;
}

.user-card-vertical .avatar {
	width: 60%;
	margin: 0 auto;
}

.user-card-vertical.large .avatar {
	width: 40% !important;
}

.user-card-vertical.dark .info-container {
	border-color: #444444;
}

/* --- Horizontal Card --- */
.user-card-horizontal {
	width: 440px;
	text-align: left;
}

.user-card-horizontal .main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 10px;
}

.user-card-horizontal .main-container .left {
	float: left;
	width: 30%;
}

.user-card-horizontal .main-container .right {
	float: right;
	width: 70%;
	padding-left: 10px;
}

.user-card-horizontal .bio {
	padding-left: 0;
}

.user-card-horizontal .avatar {
	width: 100%;
}

.user-card-horizontal .info-container {
	text-align: center;
}

.user-card-horizontal.dark .info-container {
	border-color: #444444;
}
